
@model Capstone.Web.Models.RegistrationForm
@section extraCSS {
    <link href="~/Content/css/register-login.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../Content/img/Travel7.jpg');
            background-size: cover;
        }  
    </style>
}

<div class="form-container row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login-card">
        <form id="registerform" class="col-lg-12" method="post" action="@Url.Action("Register", "Home")">
            <div class="col-lg-12 text-center">
                <h2>Register</h2>
            </div>
            <div style="clear:both;"></div>

            <div class="group">
                @Html.TextBoxFor(m => m.UserName, new { id = "UserName" })
                @Html.ValidationMessageFor(m => m.UserName)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-ikon">person_outline</i><span class="span-input">Username</span></label>
            </div>
            <div class="group">
                @Html.TextBoxFor(m => m.FirstName, new { id = "FirstName" })
                @Html.ValidationMessageFor(m => m.FirstName)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-ikon">person_outline</i><span class="span-input">First Name</span></label>
            </div>
            <div class="group">
                @Html.TextBoxFor(m => m.LastName, new { id = "LastName" })
                @Html.ValidationMessageFor(m => m.LastName)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-ikon">person_outline</i><span class="span-input">Last Name</span></label>
            </div>
            <!-- Kayıt Form Email İnput -->
            <div class="group">
                @Html.TextBoxFor(m => m.Email, new { id = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-ikon">mail_outline</i><span class="span-input">E-Mail</span></label>
            </div>
            <!-- Kayıt Form Şifre İnput -->
            <div class="group">
                @Html.PasswordFor(m => m.Password, new { id = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-password-icon">lock</i><span class="span-input">Password</span></label>
            </div>
            <!-- Kayıt Form Şifre-Tekrarı İnput -->
            <div class="group">
                @Html.PasswordFor(m => m.VerifyPassword, new { id = "VerifyPassword", })
                @Html.ValidationMessageFor(m => m.VerifyPassword)
                <span class="highlight"></span>
                <span class="bar"></span>
                <label><i class="material-icons input-password-icon">lock</i><span class="span-input">Verify Password</span></label>
            </div>
            <!-- Kayıt Ol Buton -->
            <button type="submit" class="kayit-ol-buton">Register</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

