@model Capstone.Web.Models.Itinerary
@section extraCSS {

    <link href="~/Content/css/ItineraryForm.css" rel="stylesheet" />
}
<div class="row">
    <div class="col">
        <form id="itineraryform" method="post" action="@Url.Action("Create", "Itinerary")">
            <div class="form-group">
                @Html.LabelFor(c => c.Title, new { @class = "label" })
                @Html.TextBoxFor(c => c.Title, new { @class = "form-control", placeholder = "Title" })
            </div>
            <div>
                @Html.LabelFor(c => c.Description)
                @Html.TextArea(Model.Description, new { id = "description", @class = "form-control", placeholder = "Description" })

            </div>
            <br />
            <input class="btn btn-primary" type="submit" name="Save" value="Submit Form" />
        </form>
    </div>
</div>
