
@model Capstone.Web.Models.Login
@section extraCSS {
    <link href="~/Content/css/register-login.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 title="TMT! City Tours">Login</h2>
            <form id="loginform" method="post" action="@Url.Action("Login", "Account")">
                <div class="bravoLogin">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { id = "Email", @class = "form-control", placeholder = "please enter an email address" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { id = "Password", @class = "form-control", placeholder = "8 charactors, 1 uppercase, 1 lowercase, 1 number" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <input class="btn btn-primary" type="submit" name="submitButton" value="Login" />
                </div>
            </form>
            <div class="col-4"></div>
        </div>
    </div>
</div>
