
@model Capstone.Web.Models.RegistrationForm

<title>Register</title>

<form id="registerform" method="get" action="@Url.Action("Register", "Account")">

    <div id="fName">
        <label for="fName">First Name: @Html.TextBoxFor(c => c.FirstName, new { placeholder = "First Name" })</label>
       
    </div>
    <div id="#lName">
        <lable for="lName">Last Name: @Html.TextBoxFor(c => c.LastName, new { placeholder = "Last Name" })</lable>
        
    </div>
    <div id="#email">
        <lable for="email">Email Address: @Html.TextBoxFor(c => c.Email, new { placeholder = "Email Address" })</lable>
       
    </div>
    <div id="#password">
        <lable for="password">Password: @Html.TextBoxFor(c => c.Password, new { placeholder = "Password" })</lable>
      
    </div>

    <br />
    <input type="submit" name="submitButton" value="Submit Form" />
</form>