



@model Capstone.Web.Models.Itinerary


<div class="Itinerary">
    <div class="detail">
        <div>  @Model.Id </div>
        <div>  @Model.Title </div>
        <div>  @Model.CreationDate </div>
        <div>  @Model.DepartureDate </div>
        <div>  @Model.User_Email </div>
        <div>  @Model.UserName</div>
        <div>  @Model.Landmarks </div>
        <div>  @Model.Rating </div>

    </div>

</div>
