
@{
    Layout = null;
    string username = ViewBag.Username as string;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TMT! CityTours</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    @RenderSection("extraCSS", false)
    <!--JS-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/user-registration.js"></script>
    @RenderSection("topJS", false)


</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-main navbar-fixed" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="@Url.Action("Home", "Account")">
                        <img class="img-fluid" src="~/Content/img/Bravo! City tour (6).jpg" style="height:auto; width:53px;  float:left;" />
                    </a>
                </div>

                <div id="preferred-container" class="row">
                    <div class="col">
                        <nav class="nav nav-pills nav-fill">
                            <a class="nav-item nav-link" href="@Url.Action("About", "About")">About</a>
                            <a class="nav-item nav-link" href="@Url.Action("PopularLandmarks", "Landmark")">Popular Landmarks</a>
                            <a class="nav-item nav-link" href="@Url.Action("Contact", "About")">Contact</a>
                        </nav>
                    </div>
                    <div>

                    </div>
                    <div class="nav-item dropdown dropleft">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>My Account</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link btn btn-submit" href="@Url.Action("UserProfile", "Account")">@ViewBag.Username.ToString()</a>
                            @if (ViewBag.Email.ToString() == "user@citytour.com")
                            {
                                <a class="nav-link btn btn-submit" href="@Url.Action("Login", "Account")">Login</a>
                                <a class="nav-link btn btn-submit" href="@Url.Action("Register", "Account")">Register</a>
                            }
                            else
                            {
                                <a class="nav-link btn btn-submit" href="@Url.Action("Logout", "Account")">Log Out</a>
                            }



                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("BottomJS", false)
    @Html.Partial("_Footer")
</body>

</html>
@* <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Home", "Account")">TMT! CityTours</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("MockCreateItinerary", "Account")">New Itinerary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("MockMYItinerary", "Account")">My Itineraries</a>
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.IsAdmin)
                        {
                            <a class="nav-link" href="@Url.Action("Index", "Landmark")">Manage Landmark</a>
                        }
                        else { }

                    </li>

                </ul>
                <div class="nav-item dropdown dropleft">

                    @if (ViewBag.Email == "user@citytour.com")
                    {
                            <a class="nav-link btn btn-submit" href="@Url.Action("Login", "Account")"  role="button" >
                                <span>Login</span>
                            </a>

                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>My Account</span>
                        </a>
                    }

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">
                            @if (ViewBag.IsAdmin)
                            {
                                <span style="color:red">@ViewBag.UserName</span>
                            }
                            else
                            {
                                <span style="color:blue">@ViewBag.UserName</span>
                            }

                        </a>
                        <a class="dropdown-item" href="@Url.Action("Account", "Profile")">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>*@
