
@{
    Layout = null;
    string username = ViewBag.Username as string;
}
@model Capstone.Web.Models.FullUserModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bravo! CityTours</title>
    <!--CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    @RenderSection("extraCSS", false)
    <!--JS-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/user-registration.js"></script>
    <script src="~/Scripts/Main.js"></script>
    @RenderSection("topJS", false)
   

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Home", "Account")">Bravo! CityTours</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Create", "Itinerary")">New Itinerary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Itinerary")">My Itineraries</a>
                    </li>
                    <li class="nav-item">
                        @if (ViewBag.IsAdmin)
                        {
                            <a class="nav-link" href="@Url.Action("Index", "Landmark")">Manage Landmark</a>
                        }
                        else { }

                    </li>

                </ul>
                <div class="nav-item dropdown dropleft">

                    @if (ViewBag.Email == "user@citytour.com")
                    {
                            <a class="nav-link btn btn-submit" href="@Url.Action("Login", "Account")"  role="button" >
                                <span>Login</span>
                            </a>

                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>My Account</span>
                        </a>
                    }

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#">
                            @if (ViewBag.IsAdmin)
                            {
                                <span style="color:red">@ViewBag.UserName</span>
                            }
                            else
                            {
                                <span style="color:blue">@ViewBag.UserName</span>
                            }

                        </a>
                        <a class="dropdown-item" href="@Url.Action("Account", "Profile")">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("BottomJS", false)
</body>
</html>