
@{
    string username = ViewBag.Username as string;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TMT! CityTours</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    @RenderSection("extraCSS", false)
    <!--JS-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/user-registration.js"></script>
    @RenderSection("topJS", false)


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img class="img-fluid" src="~/Content/img/Bravo!-City-tour.jpg"  />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="nav nav-pills nav-fill">
                    @if (ViewBag.Username == "Admin")
                    {
                        <a class="nav-item nav-link" href="@Url.Action("Create", "Landmark")">Manage Landmarks</a>
                    }
                    @if (ViewBag.Username != "Anonymous")
                    {
                        <a class="nav-item nav-link" href="@Url.Action("Index", "Itinerary")">Create Itinerary</a>
                    }
                    
                    <a class="nav-item nav-link" href="@Url.Action("PopularLandmarks", "Landmark")">Popular Landmarks</a>
                    <a class="nav-item nav-link" href="@Url.Action("About", "Home")">About</a>
                    <a class="nav-item nav-link" href="@Url.Action("Contact", "Home")">Contact us</a>
                </nav>
            </div>
                <div class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>My Account</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (ViewBag.Username != "Anonymous")
                        {
                            <a class="nav-link btn btn-submit" href="@Url.Action("UserProfile", "Home")">@ViewBag.Username</a>
                        }
                        @if (ViewBag.Username == "Anonymous")
                        {
                            <a class="nav-link btn btn-submit" href="@Url.Action("Login", "Home")">Login</a>
                            <a class="nav-link btn btn-submit" href="@Url.Action("Register", "Home")">Register</a>
                        }
                        else
                        {
                            <a class="nav-link btn btn-submit" href="@Url.Action("Logout", "Home")">Log Out</a>
                        }
                    </div>
                </div>

        </nav>

    </header>
    <div class="page-wrap">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    @RenderSection("BottomJS", false)
    <footer class="footer site-footer">
        <ul class="list-inline ">
            <li>
                <i class="fa fa-home"></i> 1776 Mentor Ave Suite 355, Cincinnati, OH 45212
                <i class="fa fa-phone"> (800) 000-0000</i>
                <i class="fa fa-envelope-o" >citytour@gmail.com</i>
            </li>
        </ul>
    </footer>
</body>
</html>
