@model Capstone.Web.Models.User


<h2>Registration Page</h2>

<form method="get" action="@Url.Action("Register", "Account")">

    First Name: @Html.TextBoxFor(c => c.FirstName, new { placeholder = "First Name" })
    Last Name: @Html.TextBoxFor(c => c.LastName, new { placeholder = "Last Name" })
    Email Address: @Html.TextBoxFor(c => c.Email, new { placeholder = "Email Address" })
    Password: @Html.TextBoxFor(c => c.Password, new { placeholder = "Password" })


    <br />
    <input type="submit" name="submitButton" value="Submit via GET" />

</form>