

@model Capstone.Web.Models.Landmark
<style>
    .img{
        width: 300px;
        padding-bottom:10px;
        clear:both;      
            
    }
    .detail{
        display:block
    }


</style>

<div class="landmark">


    <div class="img">
        @*<img src="~/Content/img/@(Model.PicName)*@
        
      <img src="~/Content/img/Cincinnati-Zoo.jpg"  alt="Alternate Text" />
    </div>
    <div class="detail">

        <div>  @Model.Name </div>
        <div>  @Model.Address </div>
        <div>  @Model.Description </div>
        <div>  @Model.Latitude</div>
        <div>  @Model.Longtiude </div>
    </div>

</div>
