@using Capstone.Web.Models
@model List<Landmark>

<div class="row">
    <div class="col-6 col-md-4">
        <div class="detail">
            <div class="card bg-light mb-3" style="max-width: 150rem;">

                @foreach (var landmark in Model)
                {
                    <form  method="GET" action="@Url.Action("LandmarkDetail", "Landmark")">
                   <input type="submit"  value="id=@landmark.Id"/>
                            <div class="card" >
                                <div class="card-title">
                                    <h1>@landmark.Name</h1>
                                </div>
                                <div class="card-body">
                                    <h5>@landmark.Description</h5>
                                    <p class="card-text">@landmark.Address</p>

                                    <img src="~/Content/img/@(landmark.PicName).jpg" />

                                </div>
                                <div>

                                    <div class="stars">
                                        @landmark.ThumbsUp

                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class=" thumbs">

                                    </div>
                                    <span class="glyphicon-thumbs-up"></span>
                                    <span class="fa fa-thumbs-down"></span>
                                    <i class="glyphicon-thumbs-up"></i>
                                </div>
                            </div>
                        
                 

                        <br>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

